@model HospitalManagementSystem.Models.OperationTheatreDetailsModel

@{
    ViewBag.Title = "EidtTheatreDetails";
    Layout = "~/Views/Shared/_OperationTheatreLayout.cshtml";
}

<h2 align="center">Operation Theatre Details</h2>



<div class="contentWrapper">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.OperationTheatreDetailsID)

    <div class="bs-docs-example form-inline">
    <fieldset>
        <legend>Edit</legend>

       

        <div class="row-fluid singleline">

            <label>
        <div class="editor-label">
            @Html.LabelFor(model => model.PersonAllocatedID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.PersonAllocatedID,HospitalManagementSystem.Utility.GetDoctors())
            @Html.ValidationMessageFor(model => model.PersonAllocatedID)
        </div>
                </label>
            <label>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonAllocatedTypeID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.PersonAllocatedTypeID,HospitalManagementSystem.Utility.GetType())
            @Html.ValidationMessageFor(model => model.PersonAllocatedTypeID)
        </div>
                </label>
            </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
        </div>

    
    
}

<div id="linkNewBack">
    @Html.ActionLink("Back to List", "Details", new { id=Model.OperationTheatreMasterID})
</div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
