@model HospitalManagementSystem.Models.DoctorFeeSetupModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}

<h2 style="text-align:center;">Doctor Fee Setup </h2>

<div class="contentWrapper">

@using (Html.BeginForm("Create","DoctorFeeSetup", FormMethod.Post, new { @class = "bs-docs-example form-inline" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create</legend>

     <div class="row-fluid singleline">

         <label>
             <div class="size">@Html.ValidationMessageFor(model => model.DoctorID)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DoctorID, HospitalManagementSystem.Utility.GetDoctors())
            
        </div>
          </label>


         <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.DoctorFee)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DoctorFee)
                    </div>

                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DoctorFee, new { @id = "DoctorFee", @onkeyup = "onchangeevent();" })

                    </div>

                </label>

          <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.Tax)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tax)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Tax, new { @id = "TaxId", @onkeyup = "onchangeevent();" })

                    </div>
                </label>

             <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.Vat)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Vat)
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.Vat, new { @id = "VatId", @onkeyup = "onchangeevent();" })

                    </div>
                </label>

         </div>
         <div class="row-fluid singleline">
             <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.TotalFee)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TotalFee)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalFee, new { @id = "txtTotalAmount" })

                    </div>
                </label>

            <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.HosPer)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.HosPer)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HosPer, new { @id = "txtHosPer", @onkeyup="onchangeevent();" })

                    </div>
                </label>
           <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.HosPerAmt)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.HosPerAmt)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HosPerAmt, new { @id = "txtHosPerAmt",@readonly="readonly" })

                    </div>
                </label>
          <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.DocPer)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DocPer)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DocPer, new { @id = "txtDocPer",@readonly="readonly" })

                    </div>
                </label>
           
         



      

  </div>
        <div class="row-fluid singleline">
              <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.DocPerAmt)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DocPerAmt)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DocPerAmt, new { @id = "txtDocPerAmt",@readonly="readonly" })

                    </div>
                </label>
              <label>

         <div class="size">@Html.ValidationMessageFor(model => model.FiscalYear)</div>
         <div class="editor-label">
            @Html.LabelFor(model => model.FiscalYear)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FiscalYear, HospitalManagementSystem.Utility.GetFiscalYearsinEnglish())
            
        </div>

             </label>
             <label>
                    <span class="size">@Html.ValidationMessageFor(model => model.IsCommision)</span>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsCommision)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(model => model.IsCommision)

                    </div>
                   </label>

         <label>
             <div class="size"> @Html.ValidationMessageFor(model => model.Status)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
          
        </div>
             </label>
            
         </div>
        <p>
            <input type="submit" value="Create" />
        </p>
         
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @id="linkNewBack" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
</div>


<script type="text/javascript">

        function onchangeevent() {

            var vartxtHospitalFee = $("#DoctorFee").val();
            var vartxtTax = $("#TaxId").val();
            var vartxtVat = $("#VatId").val();

            
            if (vartxtTax == '') {
                vartxtTax = 0;
            }
            if (vartxtVat == '') {
                vartxtVat = 0;
            }

            var vatAndTax = parseFloat(vartxtTax) + parseFloat(vartxtVat);

            var Totalpercentage = parseFloat(vartxtHospitalFee) * parseFloat(vatAndTax / 100);

            //var varTotalAmount = parseInt(vartxtHospitalFee) + parseInt(vartxtTax) + parseInt(vartxtVat);
            var varTotalAmount = parseFloat(vartxtHospitalFee) + parseFloat(Totalpercentage);

            $("#txtTotalAmount").val(varTotalAmount);


            var vartxtHospitalPer = $("#txtHosPer").val();
            var vartxtvarDocPer = $("#txtDocPer").val();
            if (vartxtHospitalPer == '') {
                vartxtvarDocPer = 0;
            }
            var varHosPerAmt = (parseFloat(vartxtHospitalFee) / 100) * vartxtHospitalPer;
            var varHosPerAmt = varHosPerAmt.toFixed(2);
            $("#txtHosPerAmt").val(varHosPerAmt);
            var varDocPer = 100 - parseInt(vartxtHospitalPer);
            $("#txtDocPer").val(varDocPer);

            var varDocPerAmt = vartxtHospitalFee - varHosPerAmt;
            $("#txtDocPerAmt").val(varDocPerAmt);



            //$("#Totalfee").val();

        }


    </script>
@*<script type="text/javascript">
    function onPerchangeevent() {
        var vartxtHospitalFee = $("#DoctorFee").val();
        var vartxtHospitalPer = $("#txtHosPer").val();
        var vartxtvarDocPer = $("#txtDocPer").val();
        if (vartxtHospitalPer == '') {
            vartxtvarDocPer = 0;
        }
        var varHosPerAmt = (parseFloat(vartxtHospitalFee) / 100) * vartxtHospitalPer;
        $("#txtHosPerAmt").val(varHosPerAmt);
        var varDocPer = 100 - parseInt(vartxtHospitalPer);
        $("#txtDocPer").val(varDocPer);
       
        var varDocPerAmt = vartxtHospitalFee - varHosPerAmt;
        $("#txtDocPerAmt").val(varDocPerAmt);

    }

     </script>
    *@