@model Hospital.Models.StockSupplierModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_StockSetupLayout.cshtml";
}

<h2 style="text-align:center;">Stock Supplier Setup</h2>

<div class="contentWrapper">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.StockSupplierID)
    

        <div class="bs-docs-example form-inline">
    <fieldset>

        <legend>Edit</legend>

        <div class="row-fluid singleline">
            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.StockSupplierName)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StockSupplierName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockSupplierName)
            
        </div>
                </label>
                
            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.StockSupplierAddress)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StockSupplierAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockSupplierAddress)
            
        </div>
                </label>
            <label>

            <div class="size">@Html.ValidationMessageFor(model => model.StockSupplierConNumber)</div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockSupplierConNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockSupplierConNumber)
            
        </div>
                </label>
            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.StockSupplierVatNumber)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StockSupplierVatNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockSupplierVatNumber)
            
        </div>
                </label>
            </div>

        <div class="row-fluid singleline">

            <label>
            <div class="size">@Html.ValidationMessageFor(model => model.StockSupplierEmail)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StockSupplierEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockSupplierEmail)
            
        </div>
                </label>

       </div>
        

        <p>
            <input type="submit" value="Edit" />
            
        </p>
    </fieldset>
        </div>
    <span id="linkNewBack"> @Html.ActionLink("Back to List", "Index")</span>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
