
@using HospitalManagementSystem.Helpers
@model HospitalManagementSystem.Models.OpdMedicalRecordMedicineReferModel


<style>
    .txtone {
        background-color: #FEFFB0;
        font-weight: bold;
        text-align: right;
    }
</style>


@using (Html.BeginCollectionItem("PatientMedicineDosesList"))
{
   
    <div class="row row-fluid singleline" style="margin-left:0.2px; margin-top:-15px;">

        
            <label>
        @Html.TextBoxFor(model => model.MedicineName)
        @Html.ValidationMessageFor(model => model.MedicineName)
                
      </label>
        <label>

        @Html.TextBoxFor(model => model.Doses)
        @Html.ValidationMessageFor(model => model.Doses)
            </label>
        <label>
               
        @Html.TextBoxFor(model => model.DosesTime)
        @Html.ValidationMessageFor(model => model.DosesTime)
            </label>
        <label>
               
        @Html.TextBoxFor(model => model.DosesDay)
        @Html.ValidationMessageFor(model => model.DosesDay)
            </label>
                
            <label><input type="button" class="row-button btn btn-warning" value="Remove" /></label>
            

        
    </div>
    
   
   
}



