@model HospitalManagementSystem.Models.EmergecyMasterModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="contentWrapper">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
  
    <fieldset>
        @Html.HiddenFor(model => model.EmergencyMasterId)
        <legend>DoctorSetupModel</legend>

        <div class="row-fluid singleline">

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.EmergencyNumber)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.EmergencyNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EmergencyNumber)
                </div>

            </label>

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.SerialNumber)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SerialNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SerialNumber)
                </div>

            </label>
        </div>

        <div class="row-fluid singleline">
          
            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.FirstName)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FirstName)
                </div>

            </label>

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.MiddleName)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.MiddleName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.MiddleName)
                </div>

            </label>
            
            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.LastName)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.LastName)
                </div>

            </label>        
     
        </div>


        <div class="row-fluid singleline">

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.Age)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Age)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Age)
                </div>

            </label>

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.Gender)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Gender)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Gender)
                </div>

            </label> 
                  
           
            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.Address)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Address)
                </div>

            </label>

         </div>



        <div class="row-fluid singleline">

            <label>
                <span class="size">@Html.ValidationMessageFor(model => model.Date)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Date)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Date)
                </div>

            </label>

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.TimeIn)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TimeIn)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TimeIn)
                </div>

            </label>

            <label>
        
                <span class="size">@Html.ValidationMessageFor(model => model.TimeOut)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TimeOut)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TimeOut)
                </div>

            </label>

            
         </div>

    <div class="row-fluid singleline">

            <label>
                <span class="size">@Html.ValidationMessageFor(model => model.BroughtBy)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.BroughtBy)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.BroughtBy)
                </div>

            </label>       

            <label>
                <span class="size">@Html.ValidationMessageFor(model => model.RelationShip)</span>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RelationShip)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.RelationShip)
                </div>

            </label> 

    </div>

    </fieldset>
   

                

             
<p>
    <input type="submit" value="Create" />

</p>
   
}
 </div> 

