@model Hospital.Models.SetupBilllingTypeModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}

<h2 style="text-align:center;">Billing Type Setup</h2>

<div class="contentWrapper">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="bs-docs-example form-inline">

    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.SetupBillingTypeID)

        <div class="row-fluid singleline">

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.SetupBillingTypeName)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SetupBillingTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SetupBillingTypeName)
            
        </div>
                </label>

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.Status)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            
        </div>
                </label>
            </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>*@
        <br />
        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
        </div>
    
    <div>
    @Html.ActionLink("Back to List", "Index", null, new { @id="linkNewBack"})
</div>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </div>