@model Hospital.Models.SetupPathoTestModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PathoAndRadiologyLayout.cshtml";
    int i = 1;
}

<h2 align="center"><i class="fa fa-stethoscope"></i>&nbsp;&nbsp; Test Setup</h2>

@if (TempData["success"] == "Record Created Successfully !")
{ 
    <div class="alert alert-success">
        @TempData["success"]
    </div>

}

@if (TempData["success"] == "Record Creation Failed !")
{ 
    <div class="alert alert-error">
        @TempData["success"]
    </div>

}

@if (TempData["success"] == "Record Updated Successfully !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}


@if (TempData["success"] == "Record Updation Failed !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}



@if (TempData["success"] == "Record Deleted Successfully !")
{ 
    <div class="alert alert-info">
        @TempData["success"]
    </div>

}


@if (TempData["success"] == "Record Deletion Failed !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}


<div class="general-box clearfix">
    <div style="font-weight: bold;">
        @using (Html.BeginForm("SearchIndex", "SetupPathoTest", FormMethod.Get))
        {
            <p>
                <span style="font-size: 14px; font-weight: bold;">Test Name:&nbsp;&nbsp;</span>@Html.TextBox("TestName")
                <input type="submit" value="Search" />
            </p>
        }
    </div>


</div>


<div class="contentWrapper">

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @id = "linkNewBack" })
    </p>


    <div class="general-box clearfix">
        <div class="general-box clearfix">

            <div class="boxWrapper">
                <div class="boxHeadingPanel">
                    <h1>Test Setup</h1>
                </div>

                <table class="table table-hover tablesorter">
                    <thead>
                        <tr>
                            <th>SN
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TestCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TestName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SectionId)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.IsParent)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.ParentId)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.UnitId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RefRange)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.ConvFactor)
                            </th>*@

                            <th>Action
                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.PathoTestList)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestName)
                                </td>
                                <td>
                                    @Hospital.Utility.GetSectionNameById(item.SectionId)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.IsParent)
                                </td>*@
                                @*<td>
                                    @Hospital.Utility.GetTestNameById(item.ParentId)
                                </td>*@
                                <td>
                                    @Hospital.Utility.GetUnitNameById(item.UnitId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefRange)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.ConvFactor)
                                </td>*@

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.TestId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.SectionId}) |*@


                                    @Html.ActionLink("Delete", "Delete", new { id = item.TestId }, new { onclick = "return confirm('Do you want to delete?');" })
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>


            </div>

            @*for sorting *@

            <div class="boxFooter">

                <div id="pager" style="">
                    <form>
                        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                        <input class="pagedisplay" type="text" style="width: 60px; height: 24px;">
                        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                        <select class="pagesize valid" style="width: 70px; height: 30px;">
                            <option selected="selected" value="10">10</option>
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>

            </div>

            @*---------------*@


        </div>
    </div>




</div>
