@model Hospital.Models.ReferModel
@{
    ViewBag.Title = "Edit";
}

  <div class="block-header">
        <h2 class="block-title">Edit Refer</h2>
 </div>
 <div class="well" style="border-radius:0;">
              <div class="side-by-side clearfix">
           

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
     @Html.ValidationSummary(true)
        <div class="clearfix">
                 
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class="contGroup">
                         @Html.LabelFor(model => model.Refername)
                          @Html.TextBoxFor(x => x.Refername, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Refername)

                      </div>
                    </div>
                
            </div>
            <br />
    
    <div class="bottom_btn">      
        <a href="@Url.Action("Index", "Refer")" class="btn btn-sm btn-warning"><i class="fa fa-undo"></i> Go Back</a>
        <button type="submit" id="" name="" class="btn btn-success"><i class="fa fa-save"></i> Save</button>                
    </div>
    
}
</div>
     </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}