@model HospitalManagementSystem.Models.MemberTypeModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}

@Scripts.Render("~/bundles/dates")
@Styles.Render("~/Content/datescss")

<h2 style="text-align:center;">Member Type Setup</h2>

<div class="contentWrapper">

@using (Html.BeginForm("Edit", "MemberTypeSetup", FormMethod.Post, new { @class = "bs-docs-example form-inline" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MemberTypeID)
    <fieldset>
        <legend>Edit</legend>

        

           <div class="row-fluid singleline">

            <label>
                <span class="size">@Html.ValidationMessageFor(model => model.MemberTypeName)</span>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberTypeName)
            
        </div>

                </label>

            @*<label>
                <span class="size">@Html.ValidationMessageFor(model => model.ValidUpto)</span>
        <div class="editor-label">
            @Html.LabelFor(model => model.ValidUpto)
             
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ValidUpto, @Model.ValidUpto.Value.ToShortDateString())
           
        </div>

        </label>*@
        
        </div>

        
        

        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
}

<div>
      @Html.ActionLink("Back to List", "Index", null, new { @id = "linkNewBack" })
</div>



    </div>