@model HospitalManagementSystem.Models.JVMasterModel

<div class="contentWrapper">
    <p id="linkNewBack">
        @*@Html.ActionLink("Create New", "Create")*@
    </p>

    <div class="general-box clearfix">

        <div class="general-box clearfix">

            <div class="boxWrapper">
                <div class="boxHeadingPanel">
                    <h1>Journal Voucher Lists</h1>
                </div>

                @if (Model.JVMasterModelList.Count() > 0)
                {
                    <table class="table table-hover tablesorter" style="font-size: 14px;">
                        
                        <thead style="font-weight: bold;">
                            <tr>
                                <td>Date</td>
                                <td>JVNumber</td>
                                <td>Total Amount</td>
                                <td>Narration</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.JVMasterModelList)
                        {
                            <tr>
                                <td>@item.TransactionDate.ToShortDateString()</td>
                                <td>@item.JvNumber</td>
                                <td>@item.TotalAmount</td>
                                <td>@item.Narration1</td>
                                <td>@Html.ActionLink("Details", "ShowJournalVoucher", new { id = item.JvMasterId })</td>
                            </tr>

                        }
                    </table>
                }



            </div>
        </div>
    </div>
</div>

