@model HospitalManagementSystem.Models.JVMasterModel

@{
    ViewBag.Title = "Ledger";
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>


<script>
    var j = $.noConflict();
    j(document).ready(function (e) {

        j("#StartDate").datepicker();
        j("#EndDate").datepicker();

    });


</script>
<h2 style="text-align: center;">Ledger Details (Account Head Wise)</h2>

<div class="contentWrapper">

    <div class="bs-docs-example form-inline">
        @using (Ajax.BeginForm("LedgerAccountHeadWise", "JVMaster", new AjaxOptions { UpdateTargetId = "DivLedgerDetails" }))
        {
        
            <div class="row-fluid singleline">
                <label>
                    <label style="width: 135px;">From Date (Nepali)</label>
                    @Html.TextBox("FromNepaliDate", null, new { @onblur = "ChangeNepalidateFrom(this.value,'DobId','/AjaxRequest/GetEnglishDate/')" })
                </label>

                <label>
                    <label style="width: 115px;">To Date (Nepali)</label>
                    @Html.TextBox("ToNepaliDate", null, new { @onblur = "ChangeNepalidateTo(this.value,'DobId','/AjaxRequest/GetEnglishDate/')" })
                </label>
            </div>
            <div class="row-fluid singleline">
                <label>
                    <label style="width: 135px;">From Date (English)</label>
                    @Html.TextBoxFor(model => model.ObjLedgerViewModelAccountHeadWise.StartDate, new { @id = "StartDate", @Value = DateTime.Now.ToShortDateString(), @onchange = "ChangeEnglishdateFrom(this.value,'txtNepalidate','/AjaxRequest/getNepaliDate/')" })
                </label>
                <label>
                    <label style="width: 115px;">To Date (English)</label>
                    @Html.TextBoxFor(model => model.ObjLedgerViewModelAccountHeadWise.EndDate, new { @id = "EndDate", @Value = DateTime.Now.ToShortDateString(), @onchange = "ChangeEnglishdateTo(this.value,'txtNepalidate','/AjaxRequest/getNepaliDate/')" })
                </label>
            </div>            
            
            <div class="row-fluid singleline">
                <label style="width: 135px;">Catagory</label>
                <label>
                    @Html.DropDownListFor(model => model.ObjLedgerViewModelAccountHeadWise.FeeTypeId, HospitalManagementSystem.Utility.GetCOA4thHeadList(), new { @class = "AccGroupID", @id = "AccGroupID", })
                </label>
                <label style="width: 105px;">Sub-Catagory</label>
                <label>
                    @Html.DropDownListFor(model => model.ObjLedgerViewModelAccountHeadWise.FeeSubTypeId, HospitalManagementSystem.Utility.GetCOA5thHeadList(Model.ObjLedgerViewModelAccountHeadWise.FeeTypeId), new { @class = "ParentID", @id = "ParentID" })

                </label>
                <label>
                    <input type="submit" value="Search" /></label>
            </div>
        }
    </div>


    <br />

    <div class="general-box clearfix">

        <div class="general-box clearfix">

            <div class="boxWrapper">

                <div id="DivLedgerDetails"></div>

            </div>
        </div>

    </div>
    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
    }

</div>
<script type="text/javascript">
    jQuery(function ($) {
        $("#FromNepaliDate").mask("9999/99/99");
        $("#ToNepaliDate").mask("9999/99/99");

    });
</script>

<script type="text/javascript">

    var dk = $.noConflict();
    dk(".AccGroupID").on("change", function (e) {
        e.preventDefault();
        dk.get('/AjaxRequest/GetSubAccountHeadLeafList/' + this.value,
              function (data) {
                  dk(".ParentID").find('option').remove();
                  dk(data).each(
                      function (index, item) {
                          dk(".ParentID").append('<option value="' + item.Value + '">' + item.Text + '</option>')
                      });
              }
    );
    });

    function ChangeNepalidateFrom(selvalue, targetElm, url) {


        $.ajax({
            async: false,
            type: "get",
            url: url,
            data: { NepaliDate: selvalue },
            contentType: "text/json",
            beforeSend: function () {
                // $("#" + targetElm).attr('disabled', 'disabled');
                // $("#" + targetElm).addClass('ac_loading');
            },
            success: function (jsonResult) {
                $("#StartDate").val(jsonResult);
            }
        });
    };

    function ChangeNepalidateTo(selvalue, targetElm, url) {


        $.ajax({
            async: false,
            type: "get",
            url: url,
            data: { NepaliDate: selvalue },
            contentType: "text/json",
            beforeSend: function () {
                // $("#" + targetElm).attr('disabled', 'disabled');
                // $("#" + targetElm).addClass('ac_loading');
            },
            success: function (jsonResult) {
                $("#EndDate").val(jsonResult);
            }
        });
    };



    function ChangeEnglishdateFrom(selvalue, targetElm, url) {


        $.ajax({
            async: false,
            type: "get",
            url: url,
            data: { EnglishDate: selvalue },
            contentType: "text/json",


            beforeSend: function () {
                // $("#" + targetElm).attr('disabled', 'disabled');
                // $("#" + targetElm).addClass('ac_loading');
            },
            success: function (jsonResult) {
                $("#FromNepaliDate").val(jsonResult);
            }
        });
    };

    function ChangeEnglishdateTo(selvalue, targetElm, url) {

        $.ajax({
            async: false,
            type: "get",
            url: url,
            data: { EnglishDate: selvalue },
            contentType: "text/json",


            beforeSend: function () {
                // $("#" + targetElm).attr('disabled', 'disabled');
                // $("#" + targetElm).addClass('ac_loading');
            },
            success: function (jsonResult) {
                $("#ToNepaliDate").val(jsonResult);
            }
        });
    }

</script>
