@model HospitalManagementSystem.Models.JVMasterModel
@{
    ViewBag.Title = "billForm";
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
}

<h2></h2>
<style>
    table#tblnoborder,
    table#tblnoborder td {
        border: none !important;
    }

    .font {
        font-weight: bold;
    }

    .small-table td {
        border: none;
    }



    .holder img {
        max-height: 48px;
        max-width: 55px;
        object-fit: cover;
    }


    table#mytbl,
    table#mytbl td {
        width: 880px;
        border: none !important;
    }
</style>

<script type="text/javascript">
    function print() {

        //	    var values = document.getElementById('printDiv').innerHTML.toString();
        var printing = window.open('', '', 'left=0,top=0,width=720,height=400,toolbar=0,scrollbars=0,sta­tus=0');



        printing.document.write('<div style="width: 100%; color: rgb(255, 255, 255); font-size: x-large; font-weight: 700; background-color: rgb(102, 102, 102);">Bill <br>');
        printing.document.write('<div style="font-size:small;">');
        printing.document.write(document.getElementById('printdiv').innerHTML.toString());
        printing.document.close();
        printing.focus();
        printing.print();
        printing.close();

    }
</script>

<div class="contentWrapper">


    <div id="printdiv" style="border-style: solid; border-color: #999; width: auto;">
        @*<div id="billNumber" style="font-size: 15px;">Bill No. </div>*@

        @if (@HospitalManagementSystem.Utility.GetPathOfHospitalManagementSystemLogo() != null && @HospitalManagementSystem.Utility.GetPathOfHospitalManagementSystemLogo() != "")
        {
            <div style="text-align: center;">
                <div class="holder">
                    <img src="~/Content/HospitalManagementSystemLogo/@HospitalManagementSystem.Utility.GetPathOfHospitalManagementSystemLogo()" style="width:48px; height:55px;"/>
                </div>
            </div>
        }
        @if (@HospitalManagementSystem.Utility.GetPathOfHospitalManagementSystemLogo() == "")
        { 
            
            <br />
        
        }
        <div style="font: bold; font-size: 22px; text-align: center; height: 135px;">
            @if (@HospitalManagementSystem.Utility.GetHospitalManagementSystemTitleName() != null && @HospitalManagementSystem.Utility.GetHospitalManagementSystemTitleName() != "")
            {
                <span>@HospitalManagementSystem.Utility.GetHospitalManagementSystemTitleName()</span>
            }
            <br />
            @HospitalManagementSystem.Utility.GetHospitalManagementSystemName()<br />
            <div style="height: 100px;">
                <p style="font-size: 17px; text-align: center">@HospitalManagementSystem.Utility.HospitalManagementSystemAddress()</p>
                <p style="font-size: 14px; text-align: center">Website:-@HospitalManagementSystem.Utility.HospitalManagementSystemUrl()</p>
                <p style="font-size: 14px; text-align: center">Ph:-@HospitalManagementSystem.Utility.HospitalManagementSystemPhone()</p>

            </div>

        </div>

        <h4 style="text-align: center;"><u>Account Department</u> </h4>
        <h5 style="text-align: left;">JV Number : JVN-009898</h5>
        <h5 style="text-align: left;">Date : 2071-10-20</h5>
        <div>


            <table class="table table-hover tablesorter" style="border:1px solid black;">

                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.JVDetailsModelList)
                    {
                        <tr>
                            <th>
                                @item.FeeTypeName
                            </th>
                            <th>
                                @item.DrAmount
                            </th>
                            <th>
                                @item.CrAmount
                            </th>

                        </tr>
                    }


                </tbody>
            </table>

        </div>





    </div>

    <span style="float: right;">
        <input type="button" id="btnPrint" style="width: 50px;" onclick="print()" value="Print" /></span><br />
    <p id="linkNewBack">
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>

