@model Hospital.Models.SetupManpowerModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SetupManpowerModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManpowerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManpowerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManpowerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManpowerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebsiteUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebsiteUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
