@model HospitalManagementSystem.Models.EmergecyMasterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MisLayOutLayout.cshtml";
}



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")



}

<style>
    .customtable td {
        border: none;
    }
</style>

<script>
    $(document).ready(function () {

        var id = $('.genderlist').val();
        
    });


</script>
<script>
    //$(document).ready
    var j = $.noConflict();
    j(function () {
        j(".fromdate").datepicker();
        j(".todate").datepicker();
    });

</script>

<h2>Search Patient On The Gender Base</h2>
<div class="contentWrapper">
    @using (Html.BeginForm())
    {
   <table class="customtable">

            <tr>
                <td>Date From
                </td>
                <td>

                    @if (ViewBag.fromdate != null)
                    {
                        <input type="text" name="FromDate" class="fromdate" value="@ViewBag.fromdate" required/>
                    }
                    else
                    {

                        <input type="text" name="FromDate" class="fromdate" value="@DateTime.Now.ToShortDateString()" required/>
                    }


                </td>


                <td>Date To
                </td>
                <td>
                    @if (ViewBag.todate != null)
                    {
                        <input type="text" name="ToDate" class="todate" value="@ViewBag.todate" required/>
                    }
                    else
                    {
                     
                        <input type="text" name="ToDate" class="todate" value="@DateTime.Now.ToShortDateString()" required/>
                    }
                </td>
                <td>Report</td>
                <td>
                    @Html.DropDownList("gendertypelist", HospitalManagementSystem.Utility.GetGenderList(), new { @class = "genderlist"})
                </td>
                
            </tr>
        </table>
             
               <input type="submit" value="Show Report" id="btnsubmit" />
        
        <div id="stat"></div>
        <div id ="printdiv">
        <table id="opd" class="table">
            <tr>
                <th>Opd Id
                </th>
                <th>Name
                </th>
                <th>Sex
                </th>
                <th>Registration Date
                </th>

                <th>Amount
                </th>
            </tr>

            @try
            {
                int i = 0;
                foreach (var item in ViewBag.List)
                {
                    i++;
                <tr>
                    <td>
                        @item.OpdId
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Sex
                    </td>
                    <td>
                        @*// @item.RegistrationDate*@

                        @Convert.ToDateTime(@item.RegistrationDate).ToShortDateString()
                    </td>

                    <td>
                        @item.Amount
                    </td>
                </tr>
                }

                if (i == 0)
                {
                    TempData["message"] = "No Results Found.";
                <tr>
                    @TempData["message"]
                </tr>
                }

            }

            catch (Exception e)
            {

            }

        </table>
    </div>
    }
   
    <div id="msg" title="Message!!!" style="display: none;">An error occured!!!</div>
</div>
<script type="text/javascript">
    function print() { }
</script>

@*<script>
    var hh = $.noConflict();
    hh('#btnPrint').click(function (e) {
        e.preventDefault();
        var msg = 'Do You Want To Print?';
        var div = hh("<div>" + msg + "</div>");
        div.dialog({
            title: "Print ",
            buttons: [
                {
                    text: "Yes",
                    click: function () {
                        var printing = window.open('', '', 'left=0,top=0,width=720,height=400,toolbar=0,scrollbars=0,sta­tus=0');
                        window.print();
                        printing.document.write('<div style="width: 100%;  font-size: x-large; font-weight: 700; background:url(../../Images/mmh-logo.png) no-repeat center; background-size:35%;">');
                        printing.document.write('<div style="font-size:small;">');
                        printing.document.write(document.getElementById('printdiv').innerHTML.toString());
                        printing.document.wi
                        printing.document.close();
                        printing.focus();
                        printing.print();
                        printing.close();
                        div.dialog("close");
                    }
                },
                {
                    text: "No",click: 
                        function () {
                            div.dialog("close");
                        }
                }
            ]
        });
    });
</script>*@
<script>
    var hh = $.noConflict();
    hh('#btnPrint').click(function (e) {
        e.preventDefault();
        var msg = 'Do You Want TO Print?';
        var div = hh("<div>" + msg + "</div>");
        div.dialog({
            title: "Print",
            buttons: [
            {
                text: "Yes",
                click: function () {
                    var printing = window.open('', '', 'left=0, top=0,width=720, height=400,toolbar=0,scrollbars=0,status=0');
                    window.print();
                    printing.document.write('<div style = "Width: 100%; font-size: x-large; font-weight: 700; background:url(../../Images/madhyapur HospitalManagementSystem logo-01.jpg) no-repeat center; background-size:35%;">');
                    printing.document.write('<div style="font-size:small;">');
                    printing.document.write(document.getElementById('printdv').innerHTML.toString());
                    printing.document.wi
                    printing.document.close();
                    printing.focus();
                    printing.print();
                    printing.close();
                    div.dialog("close");
                }
            },
            {
                text: "No", click: function () {
                    div.dialog("close");
                }
            }
            ]
        });
    });
</script>
<script type="text/javascript">

    //var jq = $.noConflict();

    @*$('.patientname').keyup(function () {
        //alert(this.value);
        //alert("second");
        var id = this.value;
        var url = '@Url.Action("SearchPatient","Mis")';
        $.post(url + "/" + id, function (data) {
            $(data).each(function (i) {
                //alert(data[i]);

            });
            
            
        });
    
    });*@

    

</script>
