@model HospitalManagementSystem.Models.CommonTestSetupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PathoAndRadiologyLayout.cshtml";
}

<h2 style="text-align: center;">Hospital Extra Test </h2>

@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.save)
{ 
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.edit)
{ 
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.delete)
{ 
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
<div class="contentWrapper">
    <p id="linkNewBack">
        @Html.ActionLink("Create New", "Create")
    </p>
   <div class="general-box clearfix">
        <div class="general-box clearfix">

            <div class="boxWrapper">
                <div class="boxHeadingPanel">
                    <h1>Hospital Extra Test</h1>
                </div>

                <table class="table table-hover tablesorter">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.HospitalExtraTestId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraTestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.TaxAmount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model.CommonTestList)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.HospitalExtraTestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraTestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.TaxAmount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>



                <td>
                    @item.Status

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HospitalExtraTestId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.HospitalExtraTestId })
                </td>
            </tr>
        }

    </table>
</div>


                 @*for sorting *@

            <div class="boxFooter">

                <div id="pager" style="">
                    <form>
                        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                        <input class="pagedisplay" type="text" style="width: 60px; height: 24px;">
                        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                        <select class="pagesize valid" style="width: 70px; height: 30px;">
                            <option selected="selected" value="10">10</option>
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>

            </div>

            @*---------------*@

        </div>

    </div>
    </div>
