@model HospitalManagementSystem.Models.EmergencyTreatmentAllergiesModel
@using HospitalManagementSystem
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.ui.timepicker.js"></script>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.timepicker.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/OrderManagerScript.js")" type="text/javascript"></script>
<script src="~/Scripts/json.cycle.js"></script>

<script type="text/javascript">
    var nojqr = $.noConflict();
    nojqr(document).ready(function () {
        nojqr(function () {

            //nojqr(".DateId").datepicker();
            nojqr(".TreatmentTimeEditid").timepicker();
        });
        nojqr(".staffEditEAid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EmergencyTreatmentAllergies/SearchStaffName",
                    type: "POST",
                    dataType: "json",
                    data: { s: request.term },
                    success: function (data) {
                        response(nojqr.map(data, function (item) {
                            return { label: item, value: item };
                        }))
                    },
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    });


</script>
  

@using (Html.BeginForm("EditForEmergencyTreatmentAllergies", "EmergencyTreatmentAllergies", FormMethod.Post, new { @id = "EditForEmergencyTreatmentAllergiesId", @class = "bs-docs-example form-inline" }))
{

    
    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.TreatmentAllergiesId)

        <div class="editor-label">
            @Html.HiddenFor(model => model.EmergencyMasterId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.EmergencyMasterId)
            @Html.ValidationMessageFor(model => model.EmergencyMasterId)
        </div>

        <div class="row-fluid singleline">

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.TreatmentText)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TreatmentText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TreatmentText)
            
        </div>
                </label>

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.AllergiesText)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AllergiesText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllergiesText)
            
        </div>

                </label>

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.ProcedureText)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProcedureText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProcedureText)
            
        </div>
        </label>

            <label>

        <div class="editor-label">
            @Html.LabelFor(model => model.TreatmentTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TreatmentTime, new {@class="TreatmentTimeEditid"})
            @Html.ValidationMessageFor(model => model.TreatmentTime)
        </div>
</label>

            </div>

        
        <div class="row-fluid singleline">

            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.DrugsName)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DrugsName)
        </div>
            
            <div class="editor-field">
            @Html.EditorFor(model => model.DrugsName)
            
        </div>
                </label>

            <label>

                <div class="size"> @Html.ValidationMessageFor(model => model.DoseAndRoute)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DoseAndRoute)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoseAndRoute)
           
        </div>
                </label>
         
            <label>
                <div class="size">@Html.ValidationMessageFor(model => model.DoctorId)</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId)
        </div>
        <div class="editor-field">
         @Html.DropDownListFor(model => model.DoctorId,  HospitalManagementSystem.Utility.GetDoctors())
            
        </div>
                </label>
            

            </div>
         <div class="row-fluid singleline">
            <label>

                            <div class="editor-label">
                                @Html.Label("Staff")
                            </div>

                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Staff,HospitalManagementSystem.Utility.GetStaffNameForET(Model.Staff), new {@class="staffEditEAid" , style = "width:13.5em;" })
                              
                               
                            </div>
                        </label>
      </div>

       
        <p>
            <input type="submit" value="Save" id="btnid" />
        </p>
    </fieldset>
}
<script>
    $("#btnid").live("click", function (e) {
        e.preventDefault();
        var form = $('#EditForEmergencyTreatmentAllergiesId');
        var url = form.attr("action");
        var formData = form.serialize();
        $.post(url, formData, function (data) {
            $('#EmergencyTreatmentAllergieslistId').empty();
            $('#EmergencyTreatmentAllergieslistId').html(data);
            $('#EditForEmergencyTreatmentAllergiesId').remove();
        });
    });
    </script>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
