@model HospitalManagementSystem.Models.EmergecyMasterModel

<link href="~/Content/themes/base/jquery.ui.timepicker.css" rel="stylesheet" />


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.ui.timepicker.js"></script>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<script>

$(function() {
    
    setTimeout(function() {
        $(".alert-success").hide('blind', {}, 500)
    }, 3000);
});

    </script>

@if (TempData["success"] == "Record Created Successfully !")
{ 
    <div class="alert alert-success">
        @TempData["success"]
    </div>

}

@if (TempData["success"] == "Record Creation Failed !")
{ 
    <div class="alert alert-error">
        @TempData["success"]
    </div>

}

@if (TempData["success"] == "Record Updated Successfully !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}


@if (TempData["success"] == "Record Updation Failed !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}



@if (TempData["success"] == "Record Deleted Successfully !")
{ 
    <div class="alert alert-info">
        @TempData["success"]
    </div>

}


@if (TempData["success"] == "Record Deletion Failed !")
{ 
    <div class="alert">
        @TempData["success"]
    </div>

}
<div class="general-box clearfix">
    <div class="general-box clearfix">

        <div class="boxWrapper" id="EmergencyTreatmentAllergieslistId">
            <div class="boxHeadingPanel">
                <h1>Treatment / Allergies</h1>
            </div>

            <table class="table table-hover tablesorter">
                <thead>

                    <tr>
                        <td>Treatement Id</td>

                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.TreatmentText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.AllergiesText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.ProcedureText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.TreatmentTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.DrugsName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.DoseAndRoute)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.DoctorId)
                        </th>
                         <th>
                           @Html.DisplayNameFor(model => model.EmergencyTreatmentAllergiesModel.Staff)
                         </th>
                        <th>Edit</th>

                    </tr>
                </thead>
                @foreach (var item in Model.ListEmergencyTreatmentAllergiesModel)
                {
                    <tr>

                        @Html.HiddenFor(modelItem => item.EmergencyMasterId)

                        <td>@Html.DisplayFor(modelItem => item.TreatmentAllergiesId)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllergiesText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProcedureText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DrugsName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoseAndRoute)
                        </td>
                        <td>

                            @* @Html.DisplayFor(modelItem  => item.DoctorId)*@
                            @HospitalManagementSystem.Utility.GetDoctorName(item.DoctorId)
                        </td>
                          <td>
  
                           @HospitalManagementSystem.Utility.GetStaffNameForET(item.Staff)
                        </td>
                        <td>
                            <a href='~/EmergencyTreatmentAllergies/EditForEmergencyTreatmentAllergies?id=@item.TreatmentAllergiesId' title="" class="updtlink"><span>Edit</span></a>
                        </td>
                    </tr>
                }

            </table>
            <br />

            <p>
                <a href='~/EmergencyTreatmentAllergies/CreateForEmergencyTreatmentAllergies?id=@Model.EmergencyMasterId' title="" class="crtalerlink"><span style="font-size: 20px;">Create new</span></a>

            </p>

        </div>
    </div>
</div>

<div id="cartoon"></div>
<div id="udpTreatmentAllergies"></div>

<script>
    $(".crtalerlink").click(function (e) {
        e.preventDefault();
        var data = $('#EmergencyMasterId').val();
        var url = this.href;

        $.get(url, { id: data }, function (res) {

            $("#cartoon").html(res);

        });
    });
</script>
<script>
    $(".updtlink").click(function (e) {
        e.preventDefault();
        //  var data = $('#EmergencyMasterId').val();

        var url = this.href;
        // alert(data);

        $.get(url, function (res) {

            $("#udpTreatmentAllergies").html(res);

        });
    });
</script>

