@model Hospital.Models.SetupRoomTypeModel

@{
    ViewBag.Title = "Room Type Setup";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}



<h2 style="text-align: center;">Setup Room Type</h2>
@if (TempData["success"] != null)
{
    <div class="alert alert-info">
        @TempData["success"]
    </div>
}
<div class="contentWrapper">




    <p>
        @Html.ActionLink("Create New", "Create", null, new { @id = "linkNewBack" })
    </p>


    <div class="general-box clearfix">
        <div class="general-box clearfix">

            <div class="boxWrapper">
                <div class="boxHeadingPanel">
                    <h1>Room Type Setup</h1>
                </div>

                <table class="table table-hover tablesorter" style="width: 60%;">

                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomTypeName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model.SetupRoomTypeList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomTypeName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.RoomTypeId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.RoomTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomTypeId })*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.RoomTypeId }, new { onclick = "return confirm('Are you sure want to delete?');" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            @*for sorting *@

            <div class="boxFooter">

                <div id="pager" style="">
                    <form>
                        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                        <input class="pagedisplay" type="text" style="width: 60px; height: 24px;">
                        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                        <select class="pagesize valid" style="width: 70px; height: 30px;">
                            <option selected="selected" value="10">10</option>
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>

            </div>

            @*---------------*@


        </div>
    </div>




</div>
