@model HospitalManagementSystem.Models.DemandDetailModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}

<h2 style="text-align:center">Demand Details</h2>

<div class="contentWrapper">
     <div class="general-box clearfix">

        <div class="general-box clearfix">

            <div class="boxWrapper">
    <div class="boxHeadingPanel"><h1>Stock Item Demand</h1></div>
<table class="table table-hover tablesorter">
    <thead>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ItemDemandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityDemand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DispatchStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        
    </tr>
</thead><tbody>
@foreach (var item in Model.DemandDetailList) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ItemDemandID)
        </td>
        <td>
            @HospitalManagementSystem.Utility.GetDemandItemName(item.ItemID)
        </td>
        <td>
            @((int)item.QuantityDemand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispatchStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
       
    </tr>
    
}
    </tbody>
</table>
                </div>
    <div class="boxFooter">
                   
                   <div id="pager" style="">
            <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input class="pagedisplay" type="text" style="width:60px;height:24px;">
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize valid" style="width:70px;height:30px;"">
                <option selected="selected" value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
            </form>
            </div>

               </div>
            </div>
<br />
<div id="linkNewBack">
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>