@model Hospital.Models.StockPurchaseOrderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}
@if (TempData["message"] != null || TempData["message"] != "") { 
    <p>
        @TempData["message"]
    </p>
}


<h2 style="text-align:center;">Purchase Order</h2>



@if (TempData["success"] == Hospital.UtilityMessage.save)
{ 
    <div class="alert alert-success">
@TempData["success"]
        </div>
}

@if (TempData["success"] == Hospital.UtilityMessage.savefailed)
{ 
    <div class="alert alert-error">
@TempData["success"]
        </div>

}

@if (TempData["success"] == Hospital.UtilityMessage.edit)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}


@if (TempData["success"] == Hospital.UtilityMessage.editfailed)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}

 

@if (TempData["success"] == Hospital.UtilityMessage.delete)
{ 
    <div class="alert alert-info">
@TempData["success"]
        </div>

}


@if (TempData["success"] == Hospital.UtilityMessage.deletefailed)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}


<div class="contentWrapper">




          <div class="general-box clearfix">
        <div class="general-box clearfix">
            <div class="boxWrapper">
     <div class="boxHeadingPanel"><h1>Purchase Order</h1></div>
<table class="table table-hover tablesorter">
    <thead>
    <tr>
       @* <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDerliveryDate)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
      @*  <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th>Action</th>
        
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model.StockPurchaseOrderModelList) {
    <tr>
      
            @Html.HiddenFor(modelItem => item.PurchaseOrderId)
       
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.PurchaseOrderDate)*@

            @Convert.ToDateTime(item.PurchaseOrderDate).ToShortDateString()
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.OrderDerliveryDate)*@
            @Convert.ToDateTime(item.OrderDerliveryDate).ToShortDateString()

        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderId }) |
           @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderId})|
            @Html.ActionLink("Print", "Print", new { id=item.PurchaseOrderId})|
            @Html.ActionLink("Purchase", "SearchOrder", "StockItemPurchase", new { id = item.PurchaseOrderId },  new { @class = "abcd" })

        </td>
    </tr>
}
</tbody>
</table>
                  <div class="boxFooter">
                   
                   <div id="pager" style="">
            <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input class="pagedisplay" type="text" style="width:60px;height:24px;">
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize valid" style="width:70px;height:30px;"">
                <option selected="selected" value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
            </form>
            </div>

               </div>
                </div></div></div></div>
 @*<script>
    $(function () {
        $('.linkc').click(function () {
            //this.href = this.href;
            //var deptId = $("#Department".val());
            //this.href = this.href.replace("xxx", deptId);
        });
    });
</script>*@