


@model HospitalManagementSystem.Models.PreRegistrationModel

@{
    ViewBag.Title = "Opd-Preregistration";
    Layout = "~/Views/Shared/_OpdLayOut.cshtml";
}

<h2 style="text-align:center;">Pre-Registration@{
        if (Session["OpdTypeIdInt"] != null)
        {
            if ((int)Session["OpdTypeIdInt"]==1)
            {
                @:<span style="color:#8cb4c8;font-size:12px;">(General)</span>
            }
            else
            {
                @:<span style="color:#8cb4c8;font-size:12px;">(Payable)</span>
            }
        }
        
        else
        {
            @:<span style="color:#8cb4c8;font-size:12px;">(General)</span>
        }
    }

</h2>



@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.save)
{ 
    <div class="alert alert-success">
@TempData["success"]
        </div>
}

@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.savefailed)
{ 
    <div class="alert alert-error">
@TempData["success"]
        </div>

}

@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.edit)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}


@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.editfailed)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}

 

@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.delete)
{ 
    <div class="alert alert-info">
@TempData["success"]
        </div>

}


@if (TempData["success"] == HospitalManagementSystem.UtilityMessage.deletefailed)
{ 
    <div class="alert">
@TempData["success"]
        </div>

}










<div class="contentWrapper">


@*      <p>
           
     <a href="@Url.Action("Create", "PreRegistration")" id="linkNewBack">Create New
    </a>
</p>  *@


  
<div class="general-box clearfix">
        <div class="general-box clearfix">

       <div class="boxWrapper">
    <div class="boxHeadingPanel"><h1>Pre-Registrations</h1></div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>

        <th style="width:100px;">
           Name
            
        </th>


@*        <th>
            
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>*@



       @* <th>
            @Html.DisplayNameFor(model => model.LastName)
            
        </th>*@


        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
            
        </th>


       @* <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>*@


        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
            

        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationMode)

            
        </th>
        
        <th>
           @Html.DisplayNameFor(model => model.PreregistrationPreferDetailsModel.DepartmentID)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.PreregistrationPreferDetailsModel.DoctorID)
        </th>
         <th>
           @Html.DisplayNameFor(model => model.PreregistrationPreferDetailsModel.PreferDate)
             
        </th>
         <th>
           @Html.DisplayNameFor(model => model.PreregistrationPreferDetailsModel.PreferTime)
             
        </th>
        
        <th>Action</th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model.PreRegistrationModelList)
{
    
    <tr>
        <td>
           @HospitalManagementSystem.Utility.FullName(item.FirstName, item.MiddleName, item.LastName)

       @* <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>*@


        @*<td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationMode)
        </td>
       
       
        <td>
            @HospitalManagementSystem.Utility.DepartmentName(item.DepartMentID)
        </td>
        <td>
           @HospitalManagementSystem.Utility.DoctorName(item.DoctorID)
        </td>
         <td>
            @HospitalManagementSystem.Utility.GetDate(item.PrefailID).ToShortDateString()
        </td>
         <td>
          @HospitalManagementSystem.Utility.GetTime(item.PrefailID)
        </td>
        
        <td>
            @Html.ActionLink("OPD", "PreRegistrationData", new { id = item.PreRegistrationID }) ||
            @Html.ActionLink("Delete", "Delete", new { id = item.PreRegistrationID }, new { onclick = "return confirm('Are you sure to delete this Record?');" })
            
           
        </td>
    </tr>
   
    
}
</tbody>
</table>

       
    </div>



            

       @*for sorting *@
        
               <div class="boxFooter">
                   
                   <div id="pager" style="">
            <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input class="pagedisplay" type="text" style="width:60px;height:24px;">
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize valid" style="width:70px;height:30px;"">
                <option selected="selected" value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
            </form>
            </div>

               </div> 

        @*---------------*@


            </div>
        </div>
    </div>
    


