@model Hospital.Models.SetupEmployeeMasterModel

@{
    ViewBag.Title = "FinalisePayroll";
    Layout = "~/Views/Shared/_PayRollLayout.cshtml";
}


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>


<script>
    var j = $.noConflict(); 
    j(document).ready(function (e) {

        j("#StartDate").datepicker();
        j("#EndDate").datepicker();

    });
</script>

<h2 style="text-align: center;">Finalize Payroll</h2>

<div class="contentWrapper">

    <div class="bs-docs-example form-inline">
        @using (Html.BeginForm("FinalisePayroll", "SetupEmployeeMaster", new AjaxOptions { UpdateTargetId = "DivLedgerDetails" }))
        {
            <div class="row-fluid singleline">     
                 <label>
                    <div class="editor-label">Year</div>
                     <div class="editor-label">
                    @Html.DropDownListFor(model => model.YearId, Hospital.Utility.GetNepaliYearList())
                         </div>
                </label>

                <label>
                    <div class="editor-label">
                        Month
                        </div>
                    <div class="editor-label">
                    @Html.DropDownListFor(model => model.MonthId, Hospital.Utility.GetNepaliMonthList())
                        </div>
                </label>
            </div>            
            <div class="row-fluid singleline">     
                 <label>
                    <div class="editor-label">
                        Payment
                        </div>
                     <div class="editor-label">
                     @Html.DropDownListFor(model => model.BankAccHeadID, Hospital.Utility.GetSalaryPaymentMethodList())
                         </div>
                </label>                   
            </div>            
            <div class="row-fluid singleline">
                <label>
                    <div class="editor-label">
                    <input type="submit" value="Finalize" />
                        </div>
                </label>
            </div>
        }
    </div>

    <br />

    <div class="general-box clearfix">

        <div class="general-box clearfix">

            <div class="boxWrapper">

                <div id="DivLedgerDetails"></div>

            </div>
        </div>

    </div>


    @section Scripts 
    {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
    }

</div>



