@model Hospital.Models.ZoneModel

@{
    ViewBag.Title = "Create";
   
}
<h2>Create</h2>
   <div class="block-header">
                <h4 class="block-title">Create</h4>
              </div>
 <div class="well" style="border-radius:0;">
              <div class="side-by-side clearfix">
           

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class="form-horizontal"}))
{
     @Html.ValidationSummary(true)
    //@Html.Partial("VUC_Add");   
    //need to modify
    
        <div class="row">
                 
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class="contGroup">
                         @Html.LabelFor(model => model.ZoneInEng)
                          @Html.TextBoxFor(x =>x.ZoneInEng,new { @class="form-control"})
                            @Html.ValidationMessageFor(model => model.ZoneInEng)

                      </div>
                    </div>
                
            </div>
 //
     <div class="bottom_btn">
                   
        <a href="@Url.Action("Index","Zone")" class="btn btn-sm btn-warning"><i class="fa fa-undo"></i> Go Back</a>

      
                    <button type="submit" id="" name="" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                    
                  </div>
    
  
}
    
         </div>
     </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}