@using HospitalManagementSystem.Helpers;
@model HospitalManagementSystem.Models.EmergencyInvestigationListModel

<script src="~/Scripts/OrderManagerScript.js"></script>
<script src="~/Scripts/json.cycle.js"></script>






<script src="~/Scripts/json.cycle.js"></script>
<script src="@Url.Content("~/Scripts/OrderManagerScript.js")" type="text/javascript"></script>



@using (Html.BeginCollectionItem("EmergencyInvestigationList"))
{
    <div class="row" style="margin-left:0px;">
         <label>
            @Html.DropDownListFor(model => model.TestID, HospitalManagementSystem.Utility.GetInvestigationTestList())
            @Html.ValidationMessageFor(model => model.TestID)
        </label>
       
    
        <label>
            @Html.TextBoxFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </label>
      <input type="button" class="row-button btn btn-warning" value="Remove" />
        </div>
        }


