@model HospitalManagementSystem.Models.LostPasswordModel
@{
    ViewBag.Title = "Lost Password";
}

<h2>Lost Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.EmployeeId)
                @Html.DropDownListFor(m => m.EmployeeId, HospitalManagementSystem.Utility.GetRegisterEmployeeIdWithName())
            </li>
        </ol>
        <input type="submit" value="Process To Reset" />
    </fieldset>
}