@model Hospital.Models.SetupUnitModel

@{
    ViewBag.Title = "Unit";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
    int i =1;
}

<h2 style="text-align:center;">Unit Setup</h2>

@if (TempData["success"] == "Record Created Successfully !")
{ 
    <div class="alert alert-success">
@TempData["success"]
        </div>

}

@if (TempData["success"] == "Record Creation Failed !")
{ 
    <div class="alert alert-error">
@TempData["success"]
        </div>

}

@if (TempData["success"] == "Record Updated Successfully !")
{ 
    <div class="alert">
@TempData["success"]
        </div>

}


@if (TempData["success"] == "Record Updation Failed !")
{ 
    <div class="alert">
@TempData["success"]
        </div>

}

 

@if (TempData["success"] == "Record Deleted Successfully !")
{ 
    <div class="alert alert-info">
@TempData["success"]
        </div>

}


@if (TempData["success"] == "Record Deletion Failed !")
{ 
    <div class="alert">
@TempData["success"]
        </div>

}


<div class="contentWrapper">

<p>
    @Html.ActionLink("Create New", "Create", null, new { @id="linkNewBack"})
</p>


            <div class="general-box clearfix">
        <div class="general-box clearfix">

       <div class="boxWrapper">
    <div class="boxHeadingPanel"><h1>Unit Setup</h1></div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>
        <th>
            SN
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th>
            Action
        </th>
    </tr>

        </thead>

    <tbody>

@foreach (var item in Model.UnitLists)
{
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.UnitId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.SectionId}) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.UnitId })*@
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitId },new {onclick = "return confirm('Do you want to delete?');"})
        </td>
    </tr>
    i++;
}
        </tbody>
</table>


</div>

      @*for sorting *@
        
               <div class="boxFooter">
                   
                   <div id="pager" style="">
            <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input class="pagedisplay" type="text" style="width:60px;height:24px;">
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize valid" style="width:70px;height:30px;"">
                <option selected="selected" value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
            </form>
            </div>

               </div> 

        @*---------------*@


            </div>
        </div>




    </div>