@model Hospital.Models.StockItemModel

@{
    ViewBag.Title = "CreateGroupSetup";
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}


<div class="contentWrapper">

    @using (Html.BeginForm("CreateRackSetup", "Stock", FormMethod.Post, new { @class = "bs-docs-example form-inline" }))
    {
        @Html.ValidationSummary(true)
       
        <fieldset>
            <legend>Create Rack Setup</legend>

            @if (TempData["message"] != null)
            {
                <div class="alert alert-error">
                    @TempData["message"]
                </div>

            }

            <div class="row-fluid singleline">

                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemRackViewModel.RackName)</div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ObjStockItemRackViewModel.RackName)<br />

                        @Html.TextBoxFor(model => model.ObjStockItemRackViewModel.RackName)

                    </div>
                </label>
                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemRackViewModel.RackNumber)</div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ObjStockItemRackViewModel.RackNumber)<br />

                        @Html.TextBoxFor(model => model.ObjStockItemRackViewModel.RackNumber)

                    </div>
                </label>

                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemRackViewModel.LocationId)</div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ObjStockItemRackViewModel.LocationId)<br />
                        @Html.TextBoxFor(model => model.ObjStockItemRackViewModel.LocationId)
                    </div>
                </label>

                <p>
                    <input type="submit" value="Create" />
                </p>
        </fieldset>
    }
</div>
