@model Hospital.Models.StockItemModel

@{
    ViewBag.Title = "CreateGroupSetup";
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}


<div class="contentWrapper">

    @using (Html.BeginForm("CreateGroupSetup", "Stock", FormMethod.Post, new { @class = "bs-docs-example form-inline" }))
    {
        @Html.ValidationSummary(true)
       
        <fieldset>
            <legend>Create</legend>

            @if (TempData["message"] != null)
            {
                <div class="alert alert-error">
                    @TempData["message"]
                </div>

            }

            <div class="row-fluid singleline">

                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemGroupSetupViewModel.GroupName)</div>
                    <div class="editor-label">
                        Group Name<br />

                        @Html.TextBoxFor(model => model.ObjStockItemGroupSetupViewModel.GroupName)

                    </div>
                </label>
                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemGroupSetupViewModel.FromId)</div>
                    <div class="editor-label">
                        Starting Number<br />

                        @Html.TextBoxFor(model => model.ObjStockItemGroupSetupViewModel.FromId)

                    </div>
                </label>
                <label>
                    <div class="size">@Html.ValidationMessageFor(model => model.ObjStockItemGroupSetupViewModel.ToId)</div>
                    <div class="editor-label">
                        End Number<br />

                        @Html.TextBoxFor(model => model.ObjStockItemGroupSetupViewModel.ToId)

                    </div>
                </label>
            </div>
            <div style="margin-top: 30px;">
                <p>
                    <input type="submit" value="Create" />
                </p>
            </div>
        </fieldset>
    }

    <p>
        <i class="fa  fa-plus fa-2x" style="color: blue;"></i>&nbsp;@Html.ActionLink("Go to Group Setting", "ItemGroupSetup", null, new { @id = "linkNewBack" })
    </p>
</div>

