<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EHMS</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")



    @*for designs*@

    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/menu_assets/styles.css" rel="stylesheet" />
    @*<link href="~/css/responsive.css" rel="stylesheet" />*@
    @*<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fontaw/css/font-awesome.min.css">*@



    <style>
        </style>

    @*for validation or many more*@

    @*<script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@




    <style>
        /* CSS for demo containers. Remove/ edit if desired */



        #divMain1 {
            /*width: 500px;*/
            background-color: #245C81;
            height: 400px;
            overflow: hidden;
        }


        #divShort {
            width: 200px;
            height: 200px;
            margin-bottom: 2em;
            background-color: black;
            color: white;
            overflow: hidden;
        }
    </style>

    <link href="~/Content/TableSort.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.js"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.js"></script>



    <script type="text/javascript">
        var j = $.noConflict();
        j(function () {
            j("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
            .tablesorterPager({ container: j("#pager"), size: j(".pagesize option:selected").val() });
        });
    </script>

</head>


<body>
    <div>

    @Html.Partial("_Header")
    <br />
    <div class="leftMenu" style="margin-left: -10px; padding-top: 20px">
        <div class="left-s-heading">

            <h1><a href='~/Home/ShowDashBoard' title=""><span style="color: white;">DashBoard</span></a></h1>
        </div>
        <ul id="menu" class="nav" style="text-align: left;">
            <li class="dash"><a href="~/DepartmentSetup/Main" title="" class=""><span style="font-size: 12px;">Master Setup Module</span></a></li>
            <li class="dash"><a href="~/Opd/Index" title="" class=""><span style="font-size: 12px;">OPD Module</span></a></li>
            <li class="charts"><a href="~/IpdRegistrationMaster/Index" title=""><span style="font-size: 12px;">IPD Module</span></a></li>
            <li class="forms"><a href="~/PatientTest/Index" title=""><span style="font-size: 12px;">Pathology Module</span></a> </li>
            <li class="ui"><a href="~/Pharmacy/Main" title=""><span style="font-size: 12px;">Pharmacy Module</span></a></li>
            <li class="tables"><a href="~/Security/Main" title=""><span style="font-size: 12px;">Security Module</span></a> </li>
            <li class="widgets"><a href="~/EmergencyMaster/Main" title=""><span style="font-size: 12px;">Emergency Module</span></a> </li>
            <li class="widgets"><a href="~/BloodTransection/Main" title=""><span style="font-size: 12px;">Blood Bank Module</span></a></li>
            <li class="widgets"><a href="~/OperationTheatreMaster/Main" title=""><span style="font-size: 12px;">Operation Theatre Module</span></a></li>

            <li class="widgets"><a href="~/PreRegistration/Main" title=""><span style="font-size: 12px;">Pre-Registration Module</span></a></li>
            <li class="widgets"><a href="#" title=""><span style="font-size: 12px;">Medical Report</span></a></li>
            <li class="widgets"><a href="~/PatientTest/Index" title=""><span style="font-size: 12px;">Patient Test</span></a></li>
            <li class="widgets"><a href="~/Billing/Main" title=""><span style="font-size: 12px;">Billing</span></a></li>
            <li class="widgets"><a href="~/Stock/Main" title=""><span style="font-size: 12px;">Stock</span></a></li>
            <li class="widgets"><a href="~/JVMaster/NotifyHandOver" title=""><span style="font-size: 12px;">Notify Hand Over</span></a></li>
        </ul>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
