@model HospitalManagementSystem.Models.DoctorSetupModel

@{
    ViewBag.Title = "doctorlist";
    Layout = "~/Views/Shared/_DashboardInqueryLayout.cshtml";
}

<div class="general-box clearfix">
        <div class="general-box clearfix">

       <div class="boxWrapper">
    <div class="boxHeadingPanel"><h1>Doctor List</h1></div>

<table class="table table-hover tablesorter">
    <thead>
    <tr>
       @* <th>
            @Html.DisplayNameFor(model => model.DoctorID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>*@
       
    </tr>
</thead><tbody>
@foreach (var item in Model.DoctorSetupModelList) {
    <tr>
      @*  <td>
            @Html.DisplayFor(modelItem => item.DoctorID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
     @*   <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoiningDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>*@
      
    </tr>
    
}

  </tbody>
</table>

  </div>
 @*for sorting *@
        
               <div class="boxFooter">
                   
                   <div id="pager" style="">
            <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input class="pagedisplay" type="text" style="width:60px;height:24px;">
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize valid" style="width:70px;height:30px;"">
                <option selected="selected" value="10">10</option>
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
            </form>
            </div>

               </div> 

        @*---------------*@


            </div>
        </div>


   
