@model HospitalManagementSystem.Models.BillingCounterModel
<table>
    <tr>
        <th>Id
        </th>

        <th>@Html.DisplayName("Patient Name")</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Address</th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model.BillingCounterPatientInformationModelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyMasterId)
            </td>
            <td>
                @Html.Label(item.FirstName + " " + item.MiddleName + " " + item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="font-weight: bold;">
                @Html.ActionLink("Select", "Create", new { ipValue = item.EmergencyMasterId })
            </td>
        </tr>
    }

</table>
